{% extends 'base.html' %}
{% block title %}{{post.title}}{% endblock %} 

{% block content %}
<h1>{{post.title}}<h1>
<small>By: 
{{post.author.first_name}}</small>-  
<small>{{post.publication_date}}</small> 
{%if user.is_authenticated%}
  {%if user.id == post.author.id%}
    
      <small><a href="{% url 'update_post' post.pk %}">Edit</a></small>
      <small><a href="{% url 'delete_post' post.pk %}">Delete</a></small>
  <hr>
    {%endif%}
{%endif%}
  <br/>
  {{post.body|safe}}

  <br/><br/>
  <a href = "{% url 'home' %}" class="btn btn-secondary" style="background-color: #228b22;">Back to Home</a>
{% endblock %}